//output:index.html
doctype
html(lang='en')
  head
    meta(charset='utf-8')
    script(src="js/jquery-3.1.0.min.js")
    link(rel="stylesheet", type="text/css", href="semantic/dist/semantic.min.css")
    link(rel="stylesheet", type="text/css", href="css/animate.css")
    link(rel="stylesheet", type="text/css", href="css/style.min.css")
    script(src="semantic/dist/semantic.min.js")
    title Keble Ball 2017
  body
    .ui.vertical.inverted.sidebar.menu
      a(href="#").active.item Home
      a(href="#").item Food &amp Drink
      a(href="#").item Entertainment
      a(href="#").item Employment
      a(href="#").item Sponsorship
      a(href="#").item Committee
      a(href="#").item Keble Ball 2016
      
      // TODO: Need to add in scaling for when we go to a phone. See: https://github.com/Semantic-Org/Semantic-UI/blob/master/examples/homepage.html
      // for how to do this

    .pusher
      .ui.inverted.vertical.masthead.center.aligned.segment.landingImageBG
        .ui.container
          .ui.large.secondary.inverted.pointing.menu.fixed.borderless
            a.toc.item
              <i class="sidebar icon"></i>
            .right.item
              a.ui.inverted.button Tickets      <i class="ticket icon"></i>
            
        .ui.text.container
          h1.inverted.header.hidden(style="opacity:0;")#primaryText Keble Ball 2017
          h2(style="opacity:0;")#secondaryText Prepare for the Awesome
          //h3.animated.slideInRight#date 07052016  
          h3.animated.slideInRight#date 07052016  
          .ui.huge.primary.button.basic(style="opacity:0;")#ticketButton Buy Tickets Now
            <i class="ticket icon"></i>
            
      .ui.vertical.stripe.segment.container
        .ui.middle.aligned.stackable.grid.container
          .row#food
            .eight.wide.column
              h1.ui.header <i class="right floated food icon"></i> Food &amp Drink
              p This year we are revolutionising Food and Drink at Keble Ball. Institutional standard will clash with individual flair in a combination of culinary styles and mixological expression.
              p We have observed the finest cuisines from all around the world, and made a selection for your enjoyment. On 7th May 2016 you will watch as they sate your appetite and ensure your satisfaction.
              p Drinks will bubble, steam and glow, spilling over as the night passes on. The crowds will ebb and flow, and as the tide turns your energy levels will rise, injected with our concoctions.
              p You will enjoy the food. You will enjoy the drink. You will have fun.
            .six.wide.right.floated.column
              img(src="assets/icon.jpg", alt="food!").ui.large.bordered.rounded.image#foodImage(style="opacity:0;")
          
          .row#entertainment
            .six.wide.left.floated.column
              img(src="assets/icon.jpg", alt="food!").ui.large.bordered.rounded.image#entertainmentImage(style="opacity:0;")
            .eight.wide.column
              h1.ui.header <i class="right floated wizard icon"></i> Entertainment
              p Welcome to Keble Ball; your adventure has begun. Entertainment awaits you, and you will have fun.
              p On Pusey Quad, you will not break free from the unstoppable beats created by hit house djs. Your energy will rise as some of the freshest talent in grime and garage take to the stage, and you will put on your dancing shoes to some classic rock and roll.
              p You will flee to Hayward Quad, where you will find uproarious drag acts and comedy performances. You will remember however, that even the darkest of comedy will not hide you. Beneath Keble's watchful spires, you will enter our experience rooms, where your senses will be attacked by unfamiliar noises, tastes, smells and sensations. After momentary respite, you will return to Pusey Quad for our headline performer, and you will dance and sing like never before.
              p You will do all this and more. When the morning is upon you, you will not wish to run. Keble Ball will ensnare you, and you will have fun.
              
          .row#employment
            .eight.wide.column
              h1.ui.header <i class="right floated users icon"></i> Employment
              
              p Keble Ball is recruiting. We need you to get involved in the operations of the night and make sure everyone has fun.
              
              p There are 2 types of position to apply for:
              .ul
                li <strong>Managers</strong>: you will be in charge of small teams, managing either bars or the cellar. These few spots will be given to those with experience. You will be expected to work for the full night.
                li <strong>General Staff</strong>: you will help serve food and drink and assist with the logistics of the Ball. You can work half the night – either in the first half or the second half of the Ball - and earn a reduced price ticket. Alternatively you can work the full night and receive payment in return.
                
              p This year we have an exciting collaboration with Queen's Ball, for which we have two offers:
              .ul
                li Any worker who chooses to work at both Balls will get the oppurtunity to earn more off their discounted ticket price for each Ball.
                li Half shift workers will be able to work the 1st shift for one Ball and the 2nd shift for the other, meaning that they will definitely be able to enjoy the second half of one Ball.
                
              p Please note that you will be required to attend a training session prior to the Ball in 1st or 2nd week of Trinity term.

              p If you are interested in working at the Ball, please fill in the Google form at <a href="http://goo.gl/forms/ElwKZDuKZ1">http://goo.gl/forms/ElwKZDuKZ1</a> by 11pm on Saturday 27th February 2016 to convince us why you are the best person for the job. Following this you may be invited to a short interview, and you will hear shortly afterwards if your application has been successful.

              p For any further enquiries please email <a href="employment@kebleball.com">employment@kebleball.com</a>
            .six.wide.right.floated.column
              img(src="assets/icon.jpg", alt="food!").ui.large.bordered.rounded.image#employmentImage(style="opacity:0;")
              
          .row
            .fourteen.wide.left.column
              h1.ui.header <i class="right floated money icon"></i> Sponsorship
              h2 A WARM WELCOME FROM NEPTUNE
              p Neptune Investment Management is proud to be the Exclusive Sponsor of Keble Ball 2016. Over the five years of our partnership, we have seen the Ball grow to become one of the most popular college balls and are thrilled to work with the Committee again to achieve what we hope will be the most successful event yet.
              p At Neptune, we pride ourselves in nurturing and developing young talent whether this is in our own employees or through our educational, sporting and arts partnerships. We think the hard work, dedication and commitment required to pursue your studies at Oxford deserves to be celebrated. And what a fantastic evening you will have to celebrate your success and future successes.
          .row
            .six.wide.left.floated.column
              img(src="assets/neptune_with_background_square.png", alt="food!").ui.large.bordered.rounded.image#sponsorImage(style="opacity:0;")
            .eight.wide.column
              
              h2 A FEW WORDS ON WHO WE ARE
              p Neptune is a young and dynamic investment management company founded in 2002, built on principles of teamwork and partnership. Our expertise lies in equity fund management and our funds can be held within a pension, an ISA, or simply invested in directly. Our focus has always been on delivering excellence, whatever the economic conditions, using a rigorous and unique investment process underpinned by proprietary research.
              p Please note the value of an investment and any income from it can fall as well as rise as a result of market and currency fluctuations and you may not get back the amount originally invested. If you are unsure about the suitability of an investment, please consult an authorised financial adviser.
              p To learn more about Neptune and our investment insights, visit neptunebigideas.com
              p Issued by Neptune Investment Management Limited, 3 Shortlands, W6 8DA. Authorised and regulated by the Financial Conduct Authority (www.fca.org.uk), 25 The North Colonnade, Canary Wharf, London, E14 5HS. FCA registration number 416015.  

        
      .ui.cards.container.center
        .card
          .image
            img(src="assets/icon.jpg", alt="food!")
          .content
            .header Shea O'Hagan
            .description President
            
        .card
          .image
            img(src="assets/icon.jpg", alt="food!")
          .content
            .header Sarah Timmis
            .description President
            
        .card
          .image
            img(src="assets/icon.jpg", alt="food!")
          .content
            .header Kate Dickinson
            .description Treasurer
            
        .card
          .image
            img(src="assets/icon.jpg", alt="food!")
          .content
            .header Alan Aberdeen
            .description Logistics
            
        .card
          .image
            img(src="assets/icon.jpg", alt="food!")
          .content
            .header Paul Mabey
            .description Logistics

        .card
          .image
            img(src="assets/icon.jpg", alt="food!")
          .content
            .header	Christoph Nitschke
            .description Security and Contracts
            
        .card
          .image
            img(src="assets/icon.jpg", alt="food!")
          .content
            .header Laura Whitehouse
            .description Design	
            
        .card
          .image
            img(src="assets/icon.jpg", alt="food!")
          .content
            .header	Elliott Rogers
            .description Creative
            
        .card
          .image
            img(src="assets/icon.jpg", alt="food!")
          .content
            .header Ell Potter
            .description Creative
            
        .card
          .image
            img(src="assets/icon.jpg", alt="food!")
          .content
            .header Ione Wells
            .description Creative
            
        .card
          .image
            img(src="assets/icon.jpg", alt="food!")
          .content
            .header	Andrew Warrington
            .description Technology
            
        .card
          .image
            img(src="assets/icon.jpg", alt="food!")
          .content
            .header	Jake Spitz
            .description Food & Drink
            
        .card
          .image
            img(src="assets/icon.jpg", alt="food!")
          .content
            .header Caroline Beardmore
            .description Food & Drink
            
        .card
          .image
            img(src="assets/icon.jpg", alt="food!")
          .content
            .header Niccie Baker
            .description Food & Drink
            
        .card
          .image
            img(src="assets/icon.jpg", alt="food!")
          .content
            .header	Matt Scott
            .description Entertainment
            
        .card
          .image
            img(src="assets/icon.jpg", alt="food!")
          .content
            .header Jamie Tahsin
            .description Entertainment
            
        .card
          .image
            img(src="assets/icon.jpg", alt="food!")
          .content
            .header Clara Austera
            .description Entertainment
            
        .card
          .image
            img(src="assets/icon.jpg", alt="food!")
          .content
            .header Isobel Roberts Rajoo
            .description Ticketing
            
        .card
          .image
            img(src="assets/icon.jpg", alt="food!")
          .content
            .header Clare Carlile
            .description Marketing	
            
        .card
          .image
            img(src="assets/icon.jpg", alt="food!")
          .content
            .header	Kathleen Elysee
            .description Employment
            
        .card
          .image
            img(src="assets/icon.jpg", alt="food!")
          .content
            .header	Kim Berisha
            .description Secretary

        .card
          .image
            img(src="assets/icon.jpg", alt="food!")
          .content
            .header	Valerio Pereno
            .description Sponsorship
            
        .card
          .image
            img(src="assets/icon.jpg", alt="food!")
          .content
            .header	Samuel Littley
            .description Website/Sysadmin
        
    script(src="js/functions.js")
