//output:index.html
doctype
html(lang='en')
  head
    link(rel="icon", type="image/png", href="assets/KBlogonew.png")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(charset='utf-8')
    script(src="js/jquery-3.1.0.min.js")
    script(src="js/jquery.waypoints.min.js")
    link(rel="stylesheet", type="text/css", href="semantic/dist/semantic.min.css")
    link(rel="stylesheet", type="text/css", href="css/animate.css")
    link(rel="stylesheet", type="text/css", href="css/style.min.css")
    script(src="semantic/dist/semantic.min.js")
    title Keble Ball 2017
  body
    .se-pre-con
    .ui.vertical.sidebar.menu
      a(href="#").active.item Home
      a(href="#theTheory").item The Theory
      a(href="#food").item Food &amp Drink
      a(href="#entertainment").item Entertainment
      a(href="#employment").item Employment
      a(href="#committee").item Committee
      a(href="#sponsorship").item Sponsorship
      a(href="#keble2016").item Keble Ball 2016

    .pusher
      .ui.inverted.vertical.masthead.center.aligned.segment.landingImageBG
        .ui
          .ui.big.secondary.inverted.borderless.menu.fixed.no-show#navBar
            //a.toc.item
            // img(src="assets/KBlogonew.png", alt="alt")
            a.toc.item.only-on-collapse
              <i class="sidebar icon"></i>
            a(href="#").active.item.collapsible Home
            a(href="#theTheory").item.collapsible The Theory
            a(href="#food").item.collapsible Food &amp Drink
            a(href="#entertainment").item.collapsible Entertainment
            a(href="#employment").item.collapsible Employment
            a(href="#committee").item.collapsible Committee
            a(href="#sponsorship").item.collapsible Sponsorship
            a(href="#keble2016").item.collapsible Keble Ball 2016
            .right.item
                a(href="https://www.facebook.com/kebleball2017/").item
                  i.facebook.f.icon(style="margin-left:15px;")
              a.item Tickets

        .ui.container.middle.center.aligned(style="padding-top:35vh; vertical-align: middle !important;")
          a(href="http://www.neptunebigideas.com/?usertype=UK%20Private%20Investor&amp;cm_mmc=Consumer-_-keble%20-_-promotional-_-Bigideas", target="_blank")
            img(src="assets/neptune_white.png", alt="Neptune Investment Mangement" class="landingSponsorLogo")
            //img(src="assets/neptune.png", alt="Neptune Investment Mangement" class="landingSponsorLogo")
          h1.inverted.header.hidden(style="opacity:0;")#primaryText The Abyssus Theory
          h2#secondaryText Keble Ball 2017
          h3(style="opacity:0;")#date 06.05.2017
          //.ui.huge.inverted.button(style="opacity:0;")#ticketButton Buy Tickets Now <i class="ticket icon" style="margin-left: 15px;"></i>

      .ui.vertical.segment
        .ui.middle.aligned.stackable.grid
          
          .row.fullRow#theTheory
            .eight.wide.centered.column.text
              h1 The Theory
              p Proposed by Edward Forbes in 1843, the Abyssus theory states that "beyond a depth of 300 fathoms (around 550m), marine life ceases to exist".
              p Join us at Keble Ball 2017 to explore the darkest depths of the abyss.
            
          .row.fullRow#food
            .eight.wide.centered.column.text
              h1 Food &amp Drink
              p At Keble Ball 2017, be prepared for our food and drink to plunge you into a sea of delights, as we take you on a global culinary tour, sampling food from each continent and venturing into the ocean, for an array of maritime treats. From savoury to sweet, there will be something for everyone to delight in. Descend into hedonistic excess with the return of our legendary cocktail crescent, where you will be able to excite your taste buds and quench your thirst with our perfectly balanced cocktails. For the ale lovers amongst you, visit our seafarer's bar and sample our range of brewed products. Feel the thrill of the deep in our experience rooms and brace yourself for the dive into the abyss.

          .row.fullRow#entertainment
            .eight.wide.centered.column.text
              h1 Entertainment
              p A sea of entertainment awaits you at Keble Ball 2017. 
              p Over on Hayward Quad, an eclectic mix of Oxford based acts, up-and-coming selectors and cover bands of some of your favourite artists will set the scene for a night of euphoria. 
              p On our Pusey Quad, internationally renowned talent spanning all genres combined with a two-channel silent disco will see you through to the early morning. If your feet are tired, wander over to our various stands and installations to relax and enjoy all that Keble Ball has to offer. This will be a fully immersive experience not to be missed.

          .row.fullRow#employment
            .eight.wide.centered.column.text
              h1 Employment

              p Keble Ball is recruiting. We need you to get involved in the operations of the night and make sure everyone has fun.

              p There are 2 types of position to apply for:
              p <strong>Managers</strong>: you will be in charge of small teams, managing either bars or the cellar. These few spots will be given to those with experience. You will be expected to work for the full night.
              p <strong>General Staff</strong>: you will help serve food and drink and assist with the logistics of the Ball. You can work half the night – either in the first half or the second half of the Ball - and earn a reduced price ticket. Alternatively you can work the full night and receive payment in return.

              p Please note that you will be required to attend a training session prior to the Ball in 1st or 2nd week of Trinity term.

              p If you are interested in working at the Ball, please email <a href="mailto:employment@kebleball.com?Subject=Keble%20Ball%202017%20Employment%20Enquiry">employment@kebleball.com</a>

          .row.fullRow#committee
            .sixteen.wide.floated.column.text
              h1 Committee
            .three.wide.column
            .five.wide.column.text.committee
               p <strong>Presidents</strong> - Isobel Roberts Rajoo &amp Matthew Jamshed
               p <strong>Treasurer</strong> - Robert Weston
               p <strong>Logistics</strong> - Edward Armstrong & Oliver Browne
               p <strong>Food &amp Drink</strong> - Julia Warszewski, Ludo Findlay, Elizabeth Costello & Laura Tregidgo
               p <strong>Entertainment</strong> - Benedict Walker, Daniela Alvarez Garcia & Benjamin Jacob
               p <strong>Creative</strong> - Alexa Mackie, Lucinda Kirk & Harriet Fodder
            .five.wide.column.text.committee
               p <strong>Ticketing</strong> - Harry Donald
               p <strong>Marketing</strong> - Natalie Clark
               p <strong>Security & Contracts</strong> - Frederick Kohlhas
               p <strong>Employment</strong> - Katherine Fraser
               p <strong>Design</strong> - Kate Weir
               p <strong>IT</strong> - Timothy Zakian
               p <strong>Sponsorship</strong> - Honor Loveridge & Shakeel Hashim
            .three.wide.column

          .row.fullRow#sponsorship
            .eight.wide.centered.column.text(style="padding-bottom: 5rem;")
              h1 Sponsorship
              img(src="assets/neptune_white.png", alt="food!").ui.large.bordered.rounded.centered.image
              h3 A WARM WELCOME FROM NEPTUNE
              p Neptune Investment Management is proud to be the Exclusive Sponsor of Keble Ball 2017. Over the five years of our partnership, we have seen the Ball grow to become one of the most popular college balls and are thrilled to work with the Committee again to achieve what we hope will be the most successful event yet.
              p At Neptune, we pride ourselves in nurturing and developing young talent whether this is in our own employees or through our educational, sporting and arts partnerships. We think the hard work, dedication and commitment required to pursue your studies at Oxford deserves to be celebrated. And what a fantastic evening you will have to celebrate your success and future successes.

              h3 A FEW WORDS ON WHO WE ARE
              p Neptune is a young and dynamic investment management company founded in 2002, built on principles of teamwork and partnership. Our expertise lies in equity fund management and our funds can be held within a pension, an ISA, or simply invested in directly. Our focus has always been on delivering excellence, whatever the economic conditions, using a rigorous and unique investment process underpinned by proprietary research.
              p Please note the value of an investment and any income from it can fall as well as rise as a result of market and currency fluctuations and you may not get back the amount originally invested. If you are unsure about the suitability of an investment, please consult an authorised financial adviser.
              p To learn more about Neptune and our investment insights, visit neptunebigideas.com
              p Issued by Neptune Investment Management Limited, 3 Shortlands, W6 8DA. Authorised and regulated by the Financial Conduct Authority (www.fca.org.uk), 25 The North Colonnade, Canary Wharf, London, E14 5HS. FCA registration number 416015.
            
          .row.fullRow#keble2016
            .twelve.wide.centered.column(style="padding-top: 5rem; padding-bottom: 5rem;")
              <div class="ui embed" data-url="https://player.vimeo.com/video/178164753" data-placeholder="assets/kebleBall2016.jpg"></div> 
              
    .ui.inverted.vertical.footer.segment(style="padding: 2em 1em !important;")
        h4.three.wide.column &copy 2016- Keble Ball. All rights reserved.

    script(src="js/functions.js")
    script(src="js/navBarClicker.js")
    script(src="js/rellax.min.js")
    script.
      var rellax = new Rellax('.rellax');
